* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "B612 Mono", monospace;
  position: relative;
}
@media screen and (min-width: 1150px) {
  html,
body {
    font-size: 20px;
  }
}

.body-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 65px;
}

.nav-container {
  width: 100%;
  background-color: #329632;
  box-shadow: 0px 0px 5px 2px;
  display: flex;
  justify-content: center;
  font-family: "Red Hat Text", sans-serif;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}
@media screen and (min-width: 900px) {
  .nav-links {
    width: 80%;
  }
}

.nav-links__link {
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 250ms;
  padding: 0 15px;
}
.nav-links__link:nth-child(1) {
  font-size: 1.5rem;
  padding: 16px;
  font-family: "B612 Mono", monospace;
}
.nav-links__link:nth-child(2) {
  margin-left: auto;
}
.nav-links__link:hover {
  color: #FFFF00;
}
@media screen and (max-width: 600px) {
  .nav-links__link:not(:first-child) {
    display: none;
  }
}

.nav-links__menu-btn {
  display: none;
  height: inherit;
}
@media screen and (max-width: 600px) {
  .nav-links__menu-btn {
    float: right;
    display: block;
    border-bottom: 2px solid #329632;
    padding: 10px;
  }
}

.nav-links__menu-btn .menu-btn__line {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 250ms;
}

.nav-links.responsive {
  display: block;
  position: relative;
}

.responsive .nav-links__menu-btn {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.responsive .nav-links__link {
  float: none;
  display: block;
  text-align: left;
}
.responsive .nav-links__link:not(:first-child) {
  padding: 10px 10px 10px 15px;
}
.responsive .nav-links__link:not(:first-child):hover {
  border-bottom: 2px solid #FFFF00;
}

.change .menu-btn__line:nth-child(1) {
  transform: translate(0px, 8px) rotate(-45deg);
}
.change .menu-btn__line:nth-child(2) {
  opacity: 0;
}
.change .menu-btn__line:nth-child(3) {
  transform: translate(0px, -8px) rotate(45deg);
}

.photo-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-banner {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .photo-banner {
    width: 100%;
  }
}

.photo-banner__contact {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 0.9rem;
  font-family: "Red Hat Text", sans-serif;
}
@media screen and (max-width: 600px) {
  .photo-banner__contact {
    padding: 10px;
    font-size: 0.7rem;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 400px) {
  .photo-banner__contact {
    font-size: 0.5rem;
  }
}

.photo-banner__contact div {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .photo-banner__contact div {
    width: 100%;
  }
}

.photo-banner__img {
  display: block;
  width: 100%;
  max-width: 2500px;
  height: auto;
  margin: auto;
  box-shadow: 0 0 5px;
  border-radius: 5px;
}

.photo-banner__slogan {
  position: absolute;
  top: 33%;
  left: 0%;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 5px;
}
@media screen and (min-width: 1150px) {
  .photo-banner__slogan {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  .photo-banner__slogan {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  .photo-banner__slogan {
    font-size: 0.9rem;
    padding: 10px;
  }
}

.about-container {
  width: 100%;
  margin: 25px 0;
  overflow: auto;
}
@media screen and (max-width: 600px) {
  .about-container {
    margin: 5px 0;
  }
}

.about {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .about {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .about {
    width: 95%;
  }
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
}
@media screen and (max-width: 600px) {
  .about-content {
    flex-direction: column;
  }
}

.about-content__text {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .about-content__text {
    margin: 20px 0;
  }
}

.about-content__text__body {
  margin-bottom: 30px;
}

.about-content__text__para {
  text-indent: 20px;
  font-family: "Red Hat Text", sans-serif;
}

.about-head__container {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 0px;
  margin-bottom: 20px;
}

.about-head__left-dash {
  border-top: 1px solid #5c5c5c;
  flex: 1;
  position: relative;
  top: 18px;
  margin-right: 15px;
}

.about-head__right-dash {
  border-top: 1px solid #5c5c5c;
  flex: 1;
  position: relative;
  top: 18px;
  margin-left: 15px;
}

.about-head__title {
  text-align: center;
  color: #329632;
  font-size: 1.8rem;
}

.about-content__img-container {
  flex: 1 1 0;
  margin-right: 20px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .about-content__img-container {
    margin: 0;
    opacity: 0.6;
  }
}

.about-content__img-container__img {
  width: 100%;
  box-shadow: 0 0 3px;
  border-radius: 5px;
  position: relative;
}

.contact-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-head__container {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-head__left-dash {
  border-top: 1px solid #5c5c5c;
  flex: 1;
  position: relative;
  top: 18px;
  margin-right: 15px;
}

.contact-head__right-dash {
  border-top: 1px solid #5c5c5c;
  flex: 1;
  position: relative;
  top: 18px;
  margin-left: 15px;
}

.contact-head__title {
  text-align: center;
  color: #329632;
  font-size: 1.8rem;
}

.contact-info__containter {
  display: flex;
  justify-content: left;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.05rem;
  font-weight: bold;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .gallery {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 70%;
  }
}

.gallery__title {
  text-align: center;
  color: #329632;
  font-size: 1.8rem;
  margin: 40px 0;
}

.gallery__photos {
  position: relative;
  box-shadow: 0 0 10px 2px;
  margin-bottom: 60px;
}

.gallery__photos__img {
  display: none;
  width: 100%;
  transition: 5000ms;
}
.gallery__photos__img:nth-child(1) {
  display: block;
}

.gallery__photos__cap {
  display: none;
  position: absolute;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 2px 0;
  color: white;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
}
.gallery__photos__cap:nth-child(2) {
  display: block;
}

.gallery__photos__left-btn {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 5%;
}
.gallery__photos__left-btn:hover {
  cursor: pointer;
  background: rgba(26, 26, 26, 0.6);
}
.gallery__photos__left-btn h1 {
  text-align: center;
}

.gallery__photos__right-btn {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 5%;
}
.gallery__photos__right-btn:hover {
  cursor: pointer;
  background: rgba(26, 26, 26, 0.6);
}
.gallery__photos__right-btn h1 {
  text-align: center;
}

.gallery__photos__marks {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .gallery__photos__marks {
    bottom: 15%;
  }
}

.gallery__photos__marks__mark {
  height: 15px;
  width: 15px;
  margin: 0 7px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  transition: ease-in-out 250ms;
}
.gallery__photos__marks__mark:first-child {
  margin-left: auto;
}
.gallery__photos__marks__mark:last-child {
  margin-right: auto;
}
.gallery__photos__marks__mark:hover {
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .gallery__photos__marks__mark {
    height: 10px;
    width: 10px;
  }
}

.mark--active {
  background: white;
}

.boat-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "B612 Mono", monospace;
  margin-bottom: 25px;
}

.boat-cards__header {
  text-align: center;
  color: #329632;
  font-size: 1.8rem;
  margin: 40px 0;
}

.card-container {
  width: 80%;
}
@media screen and (max-width: 900px) {
  .card-container {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    width: 95%;
  }
}

.boat-card {
  background-color: gray;
  width: 100%;
  margin-bottom: 25px;
  padding: 4%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border-left: 20px solid #329632;
  transition: 250ms ease-in;
}
@media screen and (max-width: 1000px) {
  .boat-card {
    padding: 10%;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.--barge {
  border-left: 20px solid #FFFF00;
}

.bc--inView {
  box-shadow: 0 0 10px 2px;
  padding: 2%;
  border-left: 20px solid #3fbc3f;
}

.boat-card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .boat-card__info {
    width: 90%;
    margin-bottom: 10px;
  }
}

.bc-dash-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 80%;
}
@media screen and (max-width: 1000px) {
  .bc-dash-container {
    width: 100%;
  }
}

.bc-dash-left {
  border-top: 1px solid #ffffff;
  flex: 1;
  position: relative;
  top: 17px;
  margin-right: 15px;
}

.bc-dash-right {
  border-top: 1px solid #ffffff;
  flex: 1;
  position: relative;
  top: 17px;
  margin-left: 15px;
}

.boat-card__info__head {
  font-size: 1.7rem;
}

.boat-card__info__table {
  width: 80%;
  border-collapse: collapse;
  border-style: hidden;
  font-family: "Red Hat Text", sans-serif;
}
.boat-card__info__table table, .boat-card__info__table td {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid black;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .boat-card__info__table {
    width: 100%;
    margin-bottom: 10px;
  }
}

.boat-card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.boat-card__img img {
  width: 100%;
  border: 5px solid white;
  box-shadow: 0 0 5px;
}
@media screen and (max-width: 600px) {
  .boat-card__img img {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .boat-card__img {
    width: 90%;
    margin-bottom: 10px;
  }
}

.footer-buffer {
  padding: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #329632;
  width: 100%;
  color: #0a0a0a;
  height: 65px;
  position: absolute;
  bottom: 0;
  font-family: "Red Hat Text", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
