// * Mixins
@mixin medQmax($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)){
            @content;
        }
    }
}

@mixin medQmin($arg...){
    @if length($arg) == 1{
        @media screen and (min-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)){
            @content;
        }
    }
}

@mixin section-title{
    text-align: center;
    color: $stargreen;
    font-size: 1.8rem;
}

// * Heading Dashes
@mixin dash-container($marg-top, $marg-bot) {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-top: $marg-top;
    margin-bottom: $marg-bot;
}
@mixin left-dash($color, $top) {
    border-top: 1px solid $color;
    flex: 1;
    position: relative;
    top: $top;
    margin-right: 15px;
}
@mixin right-dash($color, $top) {
    border-top: 1px solid $color;
    flex: 1;
    position: relative;
    top: $top;
    margin-left: 15px;
}
// ! End Heading Dashes

@mixin flexboxCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gallery-btn{
    color: white;
    background: $trans-bg-dark;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    @include flexboxCenter;
    &:hover{
        cursor: pointer;
        background: lighten($trans-bg-dark, 10);
    }
    h1{
        text-align: center;
    }
}

// * End Mixins
