// ! Variables

// * Colors
$oldcatyellow: #FFFF00;
$stargreen: #329632;
$dark-gray: #5c5c5c;

// * Background Colors
$trans-bg: rgba(0, 0, 0, 0.3);
$trans-bg-dark: rgba(0, 0, 0, 0.6);

// * Fonts
$title: 'B612 Mono', monospace;
$text: 'Red Hat Text', sans-serif;
