// ! sass --watch static/scss:static/css
@import "variables";
@import "mixins";

// * General
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-size: 16px;
    font-family: $title;
    @include medQmin(1150px){
        font-size: 20px;
    }
    position: relative;
}
.body-container{
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 65px;
}
// ! End General


// * Navigation
.nav-container{
    width: 100%;
    background-color: $stargreen;
    box-shadow: 0px 0px 5px 2px;
    display: flex;
    justify-content: center;
    font-family: $text
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    @include medQmin(900px) {
        width: 80%;
    }
}
.nav-links__link{
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 250ms;
    padding: 0 15px;
    &:nth-child(1){
        font-size: 1.5rem;
        padding: 16px;
        font-family: $title
    }
    &:nth-child(2){
        margin-left: auto;
    }
    &:hover{
        color: $oldcatyellow;
    }
    @include medQmax(600px){
        &:not(:first-child){
            display: none;
        }
    }
}
.nav-links__menu-btn{
    display: none;
    height: inherit;
    @include medQmax(600px){
        float: right;
        display: block;
        border-bottom: 2px solid $stargreen;
        padding: 10px;
    }
}
.nav-links__menu-btn .menu-btn__line{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 250ms;
}
// function navTransform() styles:
.nav-links.responsive{
    display: block;
    position: relative;
}
.responsive .nav-links__menu-btn{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}
.responsive .nav-links__link{
    float: none;
    display: block;
    text-align: left;
    &:not(:first-child){
        padding: 10px 10px 10px 15px;
        &:hover{
            border-bottom: 2px solid $oldcatyellow;
        }
    }
}
.change .menu-btn__line{
    &:nth-child(1){
        transform: translate(0px, 8px) rotate(-45deg);
    }
    &:nth-child(2){
        opacity: 0;
    }
    &:nth-child(3){
        transform: translate(0px, -8px) rotate(45deg);
    }
}
// ! End Navigation


// * Photo Banner
.photo-banner-container{
    @include flexboxCenter;
}
.photo-banner {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: -1;
    @include medQmax(900px){
        width: 100%;
    }
}
.photo-banner__contact{
    width: 100%;
    text-align: center;
    background: $trans-bg;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    font-family: $text;
    @include medQmax(600px){
        padding: 10px;
        font-size: 0.7rem;
        justify-content: space-evenly;
    }
    @include medQmax(400px){
        font-size: 0.5rem;
    }
}
.photo-banner__contact div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    @include medQmax(600px){
        width: 100%;
    }
}
.photo-banner__img {
    display: block;
    width: 100%;
    max-width: 2500px;
    height: auto;
    margin: auto;
    box-shadow: 0 0 5px;
    border-radius: 5px;
}
.photo-banner__slogan{
    position: absolute;
    top: 33%;
    left: 0%;
    color: white;
    background: $trans-bg;
    padding: 15px;
    border-radius: 5px;
    @include medQmin(1150px){
        font-size: 1.6rem;
    }
    @include medQmax(600px){
        font-size: 1.2rem;
    }
    @include medQmax(400px){
        font-size: 0.9rem;
        padding: 10px;
    }
}
// ! End Photo Banner


// * About
.about-container{
    width: 100%;
    margin: 25px 0;
    @include medQmax(600px){
        margin: 5px 0;
    }
}
.about{
    width: 80%;
    margin: auto;
    @include medQmax(900px){
        width: 90%;
    }
    @include medQmax(600px){
        width: 95%;
    }
}
.about-content{
    display: flex;
    @include medQmax(600px){
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
    }
    @include medQmax(400px){
        height: 1250px;
    }
}
.about-content__text{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include medQmax(600px){
        margin: 20px 0;
    }
}
.about-content__text__body{
    margin-bottom: 30px;
}
.about-content__text__para{
    text-indent: 20px;
    font-family: $text
}
.about-head__container{
    @include dash-container(0px, 20px);
}
.about-head__left-dash{
    @include left-dash($dark-gray, 18px);
}
.about-head__right-dash{
    @include right-dash($dark-gray, 18px);
}
.about-head__title{
    @include section-title;
}
.about-content__img-container{
    flex: 1 1 0;
    margin-right: 20px;
    @include medQmax(600px){
        margin: 0;
    }
}
.about-content__img-container__img{
    width: 100%;
    box-shadow: 0 0 3px;
    border-radius: 5px;
}
// ! End About

// * Contact
.contact-content{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.contact-head__container{
    @include dash-container(20px, 20px);
    align-self: center;
}
.contact-head__left-dash{
    @include left-dash($dark-gray, 18px);
}
.contact-head__right-dash{
    @include right-dash($dark-gray, 18px);
}
.contact-head__title{
    @include section-title;
}
.contact-info__containter{
    display: flex;
    justify-content: left;
    font-family: $text;
    font-size: 1.05rem;
    font-weight: bold;
}
// ! End Contact


// * Gallery
.gallery-container{
    @include flexboxCenter;
}
.gallery{
    @include flexboxCenter;
    width: 100%;
    flex-direction: column;
    @include medQmin(900px){
        width: 80%;
    }
    @include medQmin(1200px){
        width: 70%;
    }
}
.gallery__title{
    @include section-title;
    margin: 40px 0;
}
.gallery__photos{
    position: relative;
    box-shadow: 0 0 10px 2px;
    margin-bottom: 60px;
}
// @keyframes fadeIn{
//     from { opacity: 0.4; }
//     to { opacity: 1; }
// }
.gallery__photos__img{
    display: none;
    width: 100%;
    transition: 5000ms;
    // animation: fadeIn 1000ms;
    &:nth-child(1){
        display: block;
    }
}
.gallery__photos__cap{
    display: none;
    position: absolute;
    bottom: 5px;
    background: $trans-bg-dark;
    width: 100%;
    padding: 2px 0;
    color: white;
    text-align: center;
    font-family: $text;
    &:nth-child(2){
        display: block;
    }
}
.gallery__photos__left-btn{
    @include gallery-btn;
    top: 50%;
    left: 5%;
}
.gallery__photos__right-btn{
    @include gallery-btn;
    top: 50%;
    right: 5%;
}
.gallery__photos__marks{
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    @include medQmax(600px){
        bottom: 15%;
    }
}
.gallery__photos__marks__mark{
    height: 15px;
    width: 15px;
    margin: 0 7px;
    background: $trans-bg-dark;
    border-radius: 100%;
    transition: ease-in-out 250ms;
    &:first-child{
        margin-left: auto;
    }
    &:last-child{
        margin-right: auto;
    }
    &:hover{
        cursor: pointer;
    }
    @include medQmax(400px){
        height: 10px;
        width: 10px;
    }
}
.mark--active{
    background: white;
}
// ! End Gallery


// * Boat Cards
.boat-cards{
    @include flexboxCenter;
    flex-direction: column;
    width: 100%;
    font-family: $title;
    margin-bottom: 25px;
}
.boat-cards__header{
    @include section-title;
    margin: 40px 0;
    // font-size: 2.2rem;
}
.card-container{
    width: 80%;
    @include medQmax(900px){
        width: 90%;
    }
    @include medQmax(600px){
        width: 95%;
    }
}
.boat-card{
    background-color: gray;
    width: 100%;
    margin-bottom: 25px;
    padding: 4%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-left: 20px solid $stargreen;
    transition: 250ms ease-in;
    @include medQmax(1000px){
        padding: 10%;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.--barge{
    border-left: 20px solid $oldcatyellow;
}
.bc--inView{
    box-shadow: 0 0 10px 2px;
    padding: 2%;
    border-left: 20px solid lighten($stargreen, 10);
}
.boat-card__info{
    @include flexboxCenter;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    @include medQmax(1000px){
        width: 90%;
        margin-bottom: 10px;
    }
}
.bc-dash-container{
    @include dash-container(0px, 20px);
    width: 80%;
    @include medQmax(1000px){
        width: 100%;
    }
}
.bc-dash-left{
    @include left-dash(#ffffff, 17px);
}
.bc-dash-right{
    @include right-dash(#ffffff, 17px);
}
.boat-card__info__head{
    font-size: 1.7rem;
}
.boat-card__info__table{
    width: 80%;
    border-collapse: collapse;
    border-style: hidden;
    font-family: $text;
    table, td{
        font-size: 1.2rem;
        padding: 10px;
        border: 2px solid black;
        font-weight: bold;
    }
    @include medQmax(1000px){
        width: 100%;
        margin-bottom: 10px;
    }
}
.boat-card__img{
    @include flexboxCenter;
    width: 50%;
    img{
        width: 100%;
        border: 5px solid white;
        box-shadow: 0 0 5px;
        @include medQmax(600px){
            margin-bottom: 10px;
        }
    }
    @include medQmax(1000px){
        width: 90%;
        margin-bottom: 10px;
    }
}
// ! End Boat Cards

// * Footer
.footer-buffer{
    padding: 50px;
}
footer{
    @include flexboxCenter;
    background: $stargreen;
    width: 100%;
    color: rgb(10, 10, 10);
    height: 65px;
    position: absolute;
    bottom: 0;
    font-family: $text
}
// ! End Footer
